<div id="nav" class="row ">
    <div id="nav0" class="col-6 "><a href="#"><img class="p-1 ms-5 mb-2" src="./img27/SBI-Logo.png" alt="" width="20%"></a></div>
    <div id="nav1" class="col-6">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Loan</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Card</a></li>
            <li><a href="#">Help</a></li>
          </ul>
    </div>
</div>

<div class="row container-fluid">

    <div class="col-2 ">
        <form action="">
        <h6>User Driven Registration</h6>
        <br>
        <label for="accnum" class="form-control"><b>Account Number :</b> </label>
        <br>
        <label for="name1" class="form-control"><b>Name : </b> </label>
        <br>
        <label for="userinp" class="form-control"><b>New Username :</b></label>
        <br>
        <label for="userpsw" class="form-control"><b>New Password :</b></label>
        
    </form>
    </div>

    <div class="col-4">
        <form action="">
        <h6>- new user</h6>
            <br>
        <input id="accnum" type="text" placeholder="Account Number" class="form-control"  size="45">
            <br>
        <input id="name1" type="text" placeholder="Name" class="form-control" size="45">
            <br>
        <input id="userinp" type="text" placeholder="Username" class="form-control"  size="45">
            <br>
        <input id="userpsw" type="text" placeholder="Password" class="form-control">    
    </form>

    </div>

</div>
<br>
<div id="submit">
<button class="btn btn-primary bt" type="button" onclick="register()">Register</button>
<br>
<p>Already have an account? <a href="./bank-login.html">Sign in</a> </p>
<!-- <a href="">sign in</a> -->

</div>
